include AUTHORS.md
include CODE_OF_CONDUCT.md
include CHANGELOG.md
include LICENSE
include README.md
include MANIFEST.in
include setup.cfg
include setup.py
recursive-include extra/*
recursive-include faust *.py *.typed *.pyx
recursive-include requirements *.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .*.sw[a-z]
recursive-exclude * *.c *.so

